checkpoints/CoAtNet_epoch_10.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/colornet_epoch_15_acc_0.99706_loss_0.74674.pth filter=lfs diff=lfs merge=lfs -text
tests/data/cls/*.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/green/211117092419827_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/green/211117092933355_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/red/210710171602081_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/red/211202113414083_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/white/211123160054178_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/white/211124150345772_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/yellow/211116160327042_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/green/211117092415879_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/red/210710171602081_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/white/211123155555855_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/yellow/211116155311676_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/yellow/211116160311946_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/green/211117091527027_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/red/211202113410167_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/white/211123155548314_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/yellow/211116155319214_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/green/211117091519493_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/red/211202113849808_camera7_0_0.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/white/211123160050258_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
tests/data/cls/yellow/211116161458072_camera7_0_1.jpg filter=lfs diff=lfs merge=lfs -text
